#import dwarfBeard
#import datetime

#from dwarfBeard import db

#set global $title="Config"
#set global $header="Hello World, this is dwarfBeard"

#set global $sitePath = ".."
#set $today = str($datetime.date.today())
#set global $topmenu="home"#
#import os.path

<!DOCTYPE HTML>
<html>

<head>
	<script type="text/javascript" charset="utf-8">
    <!--
        siteRoot = "$siteRoot"; // needed for browser.js & ajaxNotifications.js
	//-->
    </script>
			
	<script type="text/javascript" src="$siteRoot/js/lib/jquery-1.7.2.min.js?$sitePID"></script>
    <script type="text/javascript" src="$siteRoot/js/lib/bootstrap.min.js?$sitePID"></script>
    <script type="text/javascript" src="$siteRoot/js/lib/jquery-ui-1.10.4.custom.min.js?$sitePID"></script>
    <script type="text/javascript" src="$siteRoot/js/lib/jquery.cookie.js?$sitePID"></script>
    <script type="text/javascript" src="$siteRoot/js/lib/jquery.selectboxes.min.js?$sitePID"></script>
    <script type="text/javascript" src="$siteRoot/js/lib/jquery.tablesorter-2.14.min.js?$sitePID"></script>
    <script type="text/javascript" src="$siteRoot/js/lib/jquery.tablesorter.widgets-2.14.min.js?$sitePID"></script>
    <script type="text/javascript" src="$siteRoot/js/lib/jquery.qtip-2012-04-26.min.js?$sitePID"></script>
    <script type="text/javascript" src="$siteRoot/js/lib/jquery.pnotify-1.2.2.min.js?$sitePID"></script>
    <script type="text/javascript" src="$siteRoot/js/lib/jquery.form-3.35.js?$sitePID"></script>
		

	<script type="text/javascript" src="$siteRoot/js/configNotifications.js?$sitePID"></script>
	<script type="text/javascript" src="$siteRoot/js/config.js?$sitePID"></script>
	<script type="text/javascript" src="$siteRoot/js/browser.js?$sitePID"></script>
	<script type="text/javascript" src="$siteRoot/js/ajaxNotifications.js?$sitePID"></script>
</head>


<header>

#if $varExists('siteMenu'):
    <div id="SubMenu">
        <span>
    #set $first = True
    #for $menuItem in $siteMenu:
        #if 'requires' not in $menuItem or $menuItem.requires():
            #if type($menuItem.path) == dict:
                #if $first then "" else "</span>| <span>"#<b>$menuItem.title</b>
                #set $first = False
                #set $inner_first = True
                #for $cur_link in $menuItem.path:
                    #if $inner_first then "" else "&middot; "#<a class="inner" href="$siteRoot/$menuItem.path[$cur_link]">$cur_link</a>
                    #set $inner_first = False
                #end for
            #else
                #if $first then "" else "| "#<a href="$siteRoot/$menuItem.path" #if 'confirm' in $menuItem then "class=\"confirm\"" else "" #>$menuItem.title</a>
                #set $first = False
            #end if
        #end if
    #end for
        </span>
    </div>
#end if

</header>


<body>
	<div id="config">
	<div id="config-content">
		<form id="configForm" action="saveGeneral" method="post">
		
			<div id="config-components">

                <div id="core-component-group1" class="component-group clearfix">

                    <div class="component-group-desc">
                        <h3>Configuration</h3>
                        <p>Web Setup</p>
                        <p><b>Some options may require a manual restart to take effect.</b></p>
						<p><b>Your data is stored on your computer in the dwarfBeard directory.</b></p>
                    </div>

                    <fieldset class="component-group-list">
					
                        <div class="field-pair">
                            <input type="checkbox" name="launch_browser" id="launch_browser" #if $dwarfBeard.LAUNCH_BROWSER then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="launch_browser">
                                <span class="component-title">Launch Browser:</span>
                                <span class="component-desc">Should dwarfBeard open its home page when started?</span>
                            </label>
                        </div>
						
						<div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">HTTP Port</span>
                                <input type="text" name="web_port" value="$dwarfBeard.WEB_PORT" size="10" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Web port that dwarfBeard should listen on (eg. 8083)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">HTTP Username</span>
                                <input type="text" name="web_username" value="$dwarfBeard.WEB_USERNAME" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Username for authentication (blank for none)</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">HTTP Password</span>
                                <input type="password" name="web_password" value="$dwarfBeard.WEB_PASSWORD" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Password for authentication (blank for none)</span>
                            </label>
                        </div>
						
						</br>
						<input type="submit" class="btn config_submitter" value="Save Changes" />
                    </fieldset>
                </div><!-- /component-group1 //-->
				
				<div id="core-component-group2" class="component-group clearfix">

					<div class="component-group-desc">
						</br>
                        <p>NW Gateway Setup</p>
                    </div>
					
					<fieldset class="component-group-list">
				
						<div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">FireFox Profile Path</span>
                                <input type="text" name="ff_profile_path" value="$dwarfBeard.FF_PROFILE_PATH" size="100" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Full path of profile to use for FireFox</span>
                            </label>
                        </div>
						</br>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Neverwinter Username</span>
                                <input type="text" name="nw_user_name" value="$dwarfBeard.NW_USER_NAME" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Username for authentication</span>
                            </label>
                        </div>

                        <div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Neverwinter Password</span>
                                <input type="password" name="nw_password" value="$dwarfBeard.NW_PASSWORD" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">Password for authentication</span>
                            </label>
                        </div>
						
						<div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Neverwinter Account Name</span>
                                <input type="text" name="nw_account_name" value="$dwarfBeard.NW_ACCOUNT_NAME" size="35" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">You can see this once logged into the site: characterName@accountName</span>
                            </label>
                        </div>
						
						</br>
						<input type="submit" class="btn config_submitter" value="Save Changes" />
                    </fieldset>
                </div><!-- /component-group2 //-->
				<br />
				
				<div id="core-component-group2" class="component-group clearfix">

					<div class="component-group-desc">
						</br>
                        <p>DwarfBeard Options</p>
                    </div>
					
					<fieldset class="component-group-list">
						
						</br>
						<div class="field-pair">
                            <input type="checkbox" name="blackout_en" id="blackout_en" #if $dwarfBeard.BLACKOUT_EN then "checked=\"checked\"" else ""#/>
                            <label class="clearfix" for="blackout_en">
                                <span class="component-title">Blackout:</span>
                                <span class="component-desc">Should dwarfBeard sleep at night?</span>
                            </label>
                        </div>
						
						<div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Blackout Start Hour</span>
                                <input type="text" name="blackout_start_hour" value="$dwarfBeard.BLACKOUT_START_HOUR" size="10" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">The hour in 24hour format that the black out should start</span>
                            </label>
                        </div>
						
						<div class="field-pair">
                            <label class="nocheck clearfix">
                                <span class="component-title">Blackout End Hour</span>
                                <input type="text" name="blackout_end_hour" value="$dwarfBeard.BLACKOUT_END_HOUR" size="10" />
                            </label>
                            <label class="nocheck clearfix">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">The hour in 24hour format that the black out should end</span>
                            </label>
                        </div>
						</br>
						<input type="submit" class="btn config_submitter" value="Save Changes" />
						
                    </fieldset>
                </div><!-- /component-group2 //-->
				
			</div><!-- /config-components -->	

		</form>
	</div>
	</div>
	
	<div id="config">
    <div id="config-content">
        <form id="configFormNotify" action="saveNotifications" method="post">
            <div id="config-components" class="notifier">


                <br />
                <h3>Online --- The section below is under development</h3>
                <br />


                <div class="component-group clearfix">
                    <div class="component-group-desc">
                        <img class="notifier-icon" src="$siteRoot/images/notifiers/twitter.png" alt="" title="Twitter" />
                        <h3><a href="http://www.twitter.com/" rel="noreferrer" onclick="window.open('http://dereferer.org/?' + this.href, '_blank'); return false;">Twitter</a></h3>
                        <p>A social networking and microblogging service, enabling its users to send and read other users' messages called tweets.</p>
                    </div>
                    <fieldset class="component-group-list">
                        <div class="field-pair">
                            <input type="checkbox" class="enabler" name="use_twitter" id="use_twitter" #if $dwarfBeard.USE_TWITTER then "checked=\"checked\"" else ""# />
                            <label class="clearfix" for="use_twitter">
                                <span class="component-title">Enable</span>
                                <span class="component-desc">Should dwarfBeard post tweets on Twitter?</span>
                            </label>
                            <label class="nocheck clearfix" for="use_twitter">
                                <span class="component-title">&nbsp;</span>
                                <span class="component-desc">You may want to use a second account.</span>
                            </label>
                        </div>

                        <div id="content_use_twitter">
                            <div class="field-pair">
                                <input type="checkbox" name="twitter_notify_on_levelup" id="twitter_notify_on_levelup" #if $dwarfBeard.TWITTER_NOTIFY_ON_LEVELUP then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="twitter_notify_on_levelup">
                                    <span class="component-title">Notify on Levelup</span>
                                    <span class="component-desc">Send notification when a profession levels up?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <input type="checkbox" name="twitter_notify_on_raretask" id="twitter_notify_on_raretask" #if $dwarfBeard.TWITTER_NOTIFY_ON_RARETASK then "checked=\"checked\"" else ""# />
                                <label class="clearfix" for="twitter_notify_on_raretask">
                                    <span class="component-title">Notify on Rare Task</span>
                                    <span class="component-desc">Send notification when a rare task is completed?</span>
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="clearfix">
                                    <span class="component-title">Step One</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-desc">Click the "Request Authorization" button.<br/> This will open a new page containing an auth key.<br/> Note: if nothing happens check your popup blocker.<br/></span>
                                    <input type="button" class="btn" value="Request Authorization" id="twitterStep1" />
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="clearfix">
                                    <span class="component-title">Step Two</span>
                                </label>
                                <label class="nocheck clearfix">
                                    <span class="component-desc">Enter the key Twitter gave you below, and click "Verify Key".<br/></span>
                                    <input type="text" id="twitter_key" value="" size="35" />
                                    <input type="button" class="btn" value="Verify Key" id="twitterStep2" />
                                </label>
                            </div>
                            <div class="field-pair">
                                <label class="clearfix">
                                    <span class="component-title">Step Three</span>
                                </label>
                            </div>
                            <div class="testNotification" id="testTwitter-result">Click below to test.</div>
                            <input type="button" class="btn" value="Test Twitter" id="testTwitter" />
                            <input type="submit" class="btn config_submitter" value="Save Changes" />
                        </div><!-- /content_use_twitter //-->

                    </fieldset>
                </div><!-- /twitter component-group //-->
				</br>
                <div class="component-group-save">
                    <input type="submit" class="btn config_submitter" value="Save Changes" />
                </div><br />

            </div><!-- /config-components //-->
        </form>
    </div>
	</div>
	
</body>
</html>

