#import dwarfBeard
#import datetime

#from dwarfBeard import db

#set global $title="Home"
#set global $header="Hello World, this is dwarfBeard"

#set global $sitePath = ".."
#set $today = str($datetime.date.today())
#set global $topmenu="home"#
#import os.path

<header>

#if $varExists('siteMenu'):
    <div id="SubMenu">
        <span>
    #set $first = True
    #for $menuItem in $siteMenu:
        #if 'requires' not in $menuItem or $menuItem.requires():
            #if type($menuItem.path) == dict:
                #if $first then "" else "</span>| <span>"#<b>$menuItem.title</b>
                #set $first = False
                #set $inner_first = True
                #for $cur_link in $menuItem.path:
                    #if $inner_first then "" else "&middot; "#<a class="inner" href="$siteRoot/$menuItem.path[$cur_link]">$cur_link</a>
                    #set $inner_first = False
                #end for
            #else
                #if $first then "" else "| "#<a href="$siteRoot/$menuItem.path" #if 'confirm' in $menuItem then "class=\"confirm\"" else "" #>$menuItem.title</a>
                #set $first = False
            #end if
        #end if
    #end for
        </span>
    </div>
#end if

</header>

<html>
    <body>
		</br>
		<form id="configForm" action="runTasks" method="post">

					<div id="config-components">

						<div id="core-component-group1" class="component-group clearfix">

							<fieldset class="component-group-list">
								Task Timer Run:
								<input type="submit" class="btn config_submitter" value=#if $dwarfBeard.runTasks then "Disable " else "Enable " #/>
								
							</fieldset>
						</div><!-- /component-group1 //-->

					</div><!-- /config-components -->

		</form>
    </body>
</html>

