#import dwarfBeard
#import datetime

#from dwarfBeard import db

#set global $title="Home"
#set global $header="Hello World, this is dwarfBeard"

#set global $sitePath = ".."
#set $today = str($datetime.date.today())
#set global $topmenu="home"#
#import os.path
<head>
	<style>
		p.floatAlignLeft {
			float: left;
		}
		
		p.floatAlignRight {
			float: right;
		}
	</style>
</head>


<header>

#if $varExists('siteMenu'):
    <div id="SubMenu">
        <span>
    #set $first = True
    #for $menuItem in $siteMenu:
        #if 'requires' not in $menuItem or $menuItem.requires():
            #if type($menuItem.path) == dict:
                #if $first then "" else "</span>| <span>"#<b>$menuItem.title</b>
                #set $first = False
                #set $inner_first = True
                #for $cur_link in $menuItem.path:
                    #if $inner_first then "" else "&middot; "#<a class="inner" href="$siteRoot/$menuItem.path[$cur_link]">$cur_link</a>
                    #set $inner_first = False
                #end for
            #else
                #if $first then "" else "| "#<a href="$siteRoot/$menuItem.path" #if 'confirm' in $menuItem then "class=\"confirm\"" else "" #>$menuItem.title</a>
                #set $first = False
            #end if
        #end if
    #end for
        </span>
    </div>
#end if

</header>

<html>
    <body>
	<div id="manage">
	<div id="manage-content">
	
		<div class="component-group-desc">
			<h2>Character Management</h2>
		</div>
	
		<div id="core-component-group1" class="component-group clearfix">
			<form id="configForm" action="addNewCharacter" method="post">
				<label class="clearfix" for="task_Name">
					<span class="component-desc">Enter a name to add: </span>
					<input type="text" name="character_Name" value="" size="50" required/>
				</label>
			
				<input type="submit" class="btn config_submitter" value="Add To List" />
			</form>
			<form id="configForm" action="deleteCharacter" method="post">
				<label class="clearfix" for="task_Name">
					<span class="component-desc">Enter a name to delete: </span>
					<input type="text" name="character_Name" value="" size="50" required/>
				</label>
			
				<input type="submit" class="btn config_submitter" value="Delete From List" />
			</form>
		</div><!-- /component-group1 //-->
		
		
		<div id="core-component-group1" class="component-group clearfix">
			<fieldset class="component-group-list">
				<div class="component-group-desc">
					<p>Character List:</p>
				</div>
				#for $cur_result in $characterResults:
				
					$cur_result, 
					
				#end for
			</fieldset>
		</div><!-- /component-group1 //-->
		</br>
	
		<form id="configForm" action="addNewTask" method="post">
		
			<div id="manage-components">
				<div class="component-group-desc">
					<h2>Task Management</h2>
				</div>
			
				<div id="core-component-group1" class="component-group clearfix">
					<fieldset class="component-group-list">
						<div class="field-pair">
							Select Character: 
							<select name="character_Name">
								#for $cur_result in $characterResults:
									<option value="$cur_result">$cur_result</option>
								#end for
							</select>
							</br>
							Select Profession Type
							<select name="task_Profession">
								<option value="Alchemy">Alchemy</option>
								<option value="Platesmithing">Platesmithing</option>
								<option value="Weaponsmithing">Weaponsmithing</option>
								<option value="Mailsmithing">Mailsmithing</option>
								<option value="Artificing">Artificing</option>
								<option value="Tailoring">Tailoring</option>
								<option value="Leadership">Leadership</option>
								<option value="Leatherworking">Leatherworking</option>
							</select>
							</br>
							<label class="clearfix" for="task_Name">
								<span class="component-desc">Enter the complete task name here: </span>
								<input type="text" name="task_Name" value="" size="50" required/>
							</label>
							</br>
							<label class="clearfix" for="task_Level">
								<span class="component-desc">Enter the task level here: </span>
								<input type="text" name="task_Level" value="" size="4" required/>
							</label>
						</div>
						
						<input type="submit" class="btn config_submitter" value="Add New Task" />
					</fieldset>
				</div><!-- /component-group1 //-->
			</div><!-- /manage-components -->
		</form>
		</br>
		
		<h2>Task List</h2>
			
			<div id="manage-components">
				#for $each_character in $taskResults:
				<fieldset class="component-group-list">
				<h3>$each_character[0]</h3>
					#for $cur_result in $each_character[1]:
						<div id="core-component-group1" class="component-group clearfix">
							<fieldset class="component-group-list">
								<form id="configForm" action="deleteTask" method="post">
								<div class="field-pair" style="clear: both;">
									<p class="floatAlignRight"> <input type="submit" class="btn config_submitter" value="Delete Task" /> </p>
									<input type="hidden" name="task_Name" value="$cur_result["taskName"]" />
									<input type="hidden" name="task_Level" value="$cur_result["taskLevel"]" />
									<input type="hidden" name="character_Name" value="$cur_result["characterName"]" />
									<p class="floatAlignLeft"> <span class="component-title"><h3>$cur_result["taskProfession"]</h3></span> </p>
									<label class="clearfix" for="launch_browser">
										<p>Task Name: $cur_result["taskName"]</p>
										<p class="floatAlignLeft"> Task Level: $cur_result["taskLevel"]</p>
										<p class="floatAlignRight"> Character: $cur_result["characterName"]</p>
									</label>
								</div>
								</form>
							</fieldset>
						</div><!-- /component-group1 //-->
					#end for
				</fieldset>
				#end for
			</div><!-- /manage-components -->	

	</div>
	</div>
    </body>
</html>

